<div id="wrapper">
    <!-- Sidebar -->

  <% if true %>
  <div class="sidebar-wrapper">
      <ul class="sidebar-nav">
          <li class="sidebar-brand">
              <a href="#">
                  Start Bootstrap
              </a>
          </li>
          <li>
              <a href="#">Dashboard</a>
          </li>
          <li>
              <a href="#">Shortcuts</a>
          </li>
          <li>
              <a href="#">Overview</a>
          </li>
          <li>
              <a href="#">Events</a>
          </li>
          <li>
              <a href="#">About</a>
          </li>
          <li>
              <a href="#">Services</a>
          </li>
          <li>
              <a href="#">Contact</a>
          </li>
      </ul>
  </div>
  <% end %>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
      <div class="container-fluid">
          <div class="row">
              <div class="col-lg-12 null-hpadding bg-blue">
                  <%#= render 'shared/navbar' %>
                  <div class="nexity-navbar">

                    <%= link_to "/", class:"navbar-logo" do %>
                      <%= image_tag "logo.svg" %>
                    <% end %>

                    <ul class="list-inline mobile-hidden">
                      <li><%= link_to "AGENCES", "#"%></li>
                      <li><%= link_to "PROGRAMMES", "#"%></li>
                      <li><%= link_to "ACTUALITES", "#"%></li>
                    </ul>

                    <div class="right-nav-desktop mobile-hidden">
                      <!-- Facebook -->
                      <div class="icon-with-text">
                        <div class="grey-icon-div"></div>
                        <%#= image_tag "facebook-nexity-grey.svg", class:"fb-grey-icon" %>
                        <p>FACEBOOK</p>
                      </div>

                      <!-- ||| Barre verticale -->
                      <div class="desktop-vertical-bar"></div>

                      <!-- Contact -->
                      <div class="icon-with-text">
                        <%= image_tag "enveloppe-nexity-grey.svg", class:"fb-grey-icon" %>
                        <p>CONTACT</p>
                      </div>

                      <!-- ||| Barre verticale -->
                      <div class="desktop-vertical-bar"></div>

                      <!-- Espace de vente -->
                      <div class="icon-with-text">
                        <%= image_tag "map-pin-nexity-grey.svg", class:"fb-grey-icon" %>
                        <p>ESPACES DE VENTE</p>
                      </div>

                      <!-- ||| Barre verticale -->
                      <div class="desktop-vertical-bar"></div>

                      <!-- Telephones -->
                      <div class="icon-with-text">
                        <%= image_tag "phone-nexity-grey.svg", class:"fb-grey-icon" %>
                        <p>TELEPHONE</p>
                      </div>
                    </div>

                    <div class="right-nav-mobile mobile-displayed">
                      <!-- Facebook Icon -->
                      <div class="mobile-fb-icon"></div>

                      <!-- Mobil Vertical Bar -->
                      <div class="mobile-vertical-bar"></div>

                      <div class="dropdown">
                        <i class="fa fa-bars dropdown-toggle nexity-dropdown-bars" data-toggle="dropdown"></i>
                        <ul class="dropdown-menu dropdown-menu-right nexity-mobile-dropdown-menu">
                          <div class="nexity-mobile-dropdown-line dropdown-grey-line"><div class="close-dropdown"><p class="">x</p></div></div>
                          <div class="nexity-mobile-dropdown-line dropdown-grey-line"><p>AGENCES</p></div>
                          <div class="nexity-mobile-dropdown-line dropdown-grey-line"><p>PROGRAMMES</p></div>
                          <div class="nexity-mobile-dropdown-line dropdown-grey-line"><p>ACTUALITES</p></div>
                          <div class="nexity-mobile-dropdown-line dropdown-white-line"><p>TELEPHONE</p></div>
                          <div class="nexity-mobile-dropdown-line dropdown-white-line"><p>ESPACES DE VENTE</p></div>
                          <div class="nexity-mobile-dropdown-line dropdown-white-line"><p>CONTACT</p></div>
                        </ul>
                      </div>
                    </div>



                  </div>


                  <div><p>This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the page content will be pushed off canvas.This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the page content ar. On small screens, the page content will be pushed off canvas.This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the page content ar. On small screens, the page content will be pushed off canvas.This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the page content ar. On small screens, the page content will be pushed off canvas.This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the page content ar. On small screens, the page content will be pushed off canvas.This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the page content ar. On small screens, the page content will be pushed off canvas.This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the page content ar. On small screens, the page content will be pushed off canvas.This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the page content ar. On small screens, the page content will be pushed off canvas.This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the page content ar. On small screens, the page content will be pushed off canvas.This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the page content ar. On small screens, the page content will be pushed off canvas.This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the page content ar. On small screens, the page content will be pushed off canvas.This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the page content ar. On small screens, the page content will be pushed off canvas.This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the page content ar. On small screens, the page content will be pushed off canvas.This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the page content ar. On small screens, the page content will be pushed off canvas.This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the page content ar. On small screens, the page content will be pushed off canvas.This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the page content will be pushed off canvas.This template has a responsive menu toggling system. The menu will appear template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the page content will be pushed off canvas.</p>
                  </div>


              </div>
          </div>
      </div>
  </div>
  <!-- /#page-content-wrapper -->

</div>
